/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.form {
  position: relative;
  background: var(--white-200);
  border-radius: 8px;
  padding: 24px 16px;
  width: 100%;
  max-width: 1123px;
  -webkit-box-shadow: 1px 5px 20px rgba(228, 232, 236, 0.23);
  box-shadow: 1px 5px 20px rgba(228, 232, 236, 0.23);
  -webkit-box-shadow: 1px 5px 20px rgb(48 51 53 / 23%);
  box-shadow: 1px 5px 20px rgb(48 51 53 / 23%);
}
.formHome {
  position: relative;
  z-index: 100;
  background: var(--white-200);
  border-radius: 8px;
  padding: 24px 16px;
  margin-top: 40px;
  width: 100%;
  max-width: 1123px;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 1px 5px 20px rgba(228, 232, 236, 0.23);
  box-shadow: 1px 5px 20px rgba(228, 232, 236, 0.23);
}

.column {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  gap: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.column > div {
  width: 100%;
}
.guestsInput {
  text-align: center;
  font-size: 15px;
}
.suggestions {
  position: absolute;
  background: var(--white-100);
  top: 80px;
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
  box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
  font-size: 14px;
  max-height: 300px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 2;
}

.suggestionItem {
  padding: 16px 16px;
  margin-bottom: 8px;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  .suggestionItem {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .suggestionItem {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.suggestionItem:hover {
  background: var(--white-300);
  color: var(--blue-400);
}
.icon {
  width: 16px;
  height: 16px;
  color: var(--blue-400);
  margin-right: 8px;
  margin-left: 4px;
}
.inputContainer {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}
.labelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1.3;
}

.label {
  color: var(--blue-400);
  font-size: 12px;
  font-weight: var(--fontWeight-sm);
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 4px;
  margin-bottom: 4px;
  padding-left: 4px;
}

.smallLabel {
  font-size: 10px;
  color: var(--blue-300);
  font-weight: 300;
}

.error {
  font-size: 12px;
  color: var(--danger);
  font-weight: var(--fontWeight-m);
  padding-left: 8px;
  text-align: left;
}

.input,
.textarea {
  color: var(--blue-400);
  background-color: var(--white-100);
  font-size: 13px;
  padding: 10px 8px;
  border: 1px solid var(--grey-200);
  border-radius: 6px;
  width: 100%;
  font-family: var(--header-font);
  -webkit-appearance: textfield;
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
  color: var(--blue-300);
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  font-size: 12px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
  color: var(--blue-300);
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  font-size: 12px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
  color: var(--blue-300);
}

.input::-ms-input-placeholder,
.textarea::-ms-input-placeholder {
  font-size: 12px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
  color: var(--blue-300);
}

.input::placeholder,
.textarea::placeholder {
  font-size: 12px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
  color: var(--blue-300);
}

.inputButton {
  font-size: 13px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
  background-color: var(--white-100);
  color: var(--blue-300);
  border: 1px solid var(--grey-200);
  border-radius: 6px;
  padding: 9px 16px;
  width: 100%;
  cursor: pointer;
}

.guestsInput {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .icon {
    width: 18px;
    height: 18px;
    margin-left: 4px;
  }
  .input.contactInput {
    min-width: auto !important;
  }
  .formHome {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 16px 300px 16px 150px;
    grid-template-columns: 250px 300px 150px;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-top: 32px;
    padding: 32px 16px;
    -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  }
  .formHome > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .formHome > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .formHome > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .btnContainer {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 992px) {
  .form {
    max-width: initial;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 16px 250px 16px 200px 16px 150px;
    grid-template-columns: 250px 250px 200px 150px;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 32px 40px;
  }
  .form > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .form > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .form > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .form > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }

  .customContainer {
    margin-bottom: 0;
  }

  .btnContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 18px;
  }

  .column {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    grid-column-gap: 8px;
  }
  .customBtnClass {
    padding: 14px 32px;
  }
}
