.customForm {
  box-shadow: 1px 5px 20px rgb(48 51 53 / 23%);
}

@media screen and (min-width: 992px) {
  .customForm {
    max-width: initial;
    display: grid;
    grid-template-columns: 250px 200px 200px 150px;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    align-items: flex-end;
    padding: 32px 60px;
  }
  .customContainer {
    margin-bottom: 0;
  }

  .btnContainer {
    display: flex;
    align-items: center;
  }

  .customColumn {
    align-items: flex-end;
    margin-bottom: 0;
    margin-bottom: 0;
    grid-column-gap: 8px;
  }
  .customBtnClass {
    padding: 14px 32px;
  }
}
