.customForm {
  box-shadow: 1px 5px 20px rgb(48 51 53 / 23%);
}

@media screen and (min-width: 768px) {
  .customForm {
    flex-direction: column;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .flex > .customContainer {
    width: 47%;
  }

  .flex > .customColumn {
    width: 60%;
    margin-right: 8px;
  }

  .calendar {
    width: 60%;
    margin-right: 8px;
  }

  .dates {
    width: 51%;
  }

  .btnContainer {
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .customBtn {
  }
  /* .form {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    padding: 32px 16px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  }

  .column {
    margin-bottom: 0;
    gap: initial;
    width: 100%;
  }

  .column > div {
    width: 48%;
  }

  .inputContainer {
    margin-bottom: 0;
  }

  .label {
    font-size: 14px;
  }

  .input {
    min-width: 267px;
    height: 48px;
  }

  /* .inputButton {
      height: 48px;
    } */
}
