.prevBtn {
  border-radius: 8px;
  margin-right: 32px;
}
.nextBtn {
  border-radius: 8px;
  margin-left: 32px;
}

.paginationContainer {
  margin: 2rem 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.paginationContainer a {
  font-family: var(--header-font);
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid rgba(31, 41, 55, 1);
  color: rgba(31, 41, 55, 1);
  cursor: pointer;
  margin: 0 16px;
}

.paginationActive a {
  color: var(--white-100);
  background-color: rgba(31, 41, 55, 1);
  padding: 4px 8px;
  border-radius: 6px;
}
.paginationActive a {
  background-color: rgba(31, 41, 55, 1);
}

.paginationContainer a:hover {
  color: var(--white-100);
  background-color: rgba(31, 41, 55, 0.87);
}
