@import './variables.css';
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: var(--blue-400);
  background: var(--grey-100);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

.rs-picker-toggle-wrapper {
  width: 100%;
}

.rs-picker-default .rs-picker-toggle.rs-btn {
  border-radius: 8px;
  padding: 14px 16px !important;
  border: 1px solid var(--grey-200);
  color: var(--blue-400);
}
.rs-picker-default .rs-picker-toggle.rs-btn {
  background-color: var(--white-100) !important;
}

.rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
.rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-caret {
  display: none;
}

.rs-input-group:not(.rs-input-group-inside)
  .rs-input-number:not(:last-child)
  .rs-input-number-btn-group-vertical {
  display: none;
}

.rs-input-group:not(.rs-input-group-inside)
  .rs-input-number:not(:first-child)
  .rs-input {
  text-align: center;
}
