@import './variables.css';
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif !important;
  color: var(--blue-400) !important;
  background: var(--grey-100) !important;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--body-font);
  font-weight: var(--fontWeight-r);
}

h3 {
  font-family: var(--header-font);
  font-size: 18px;
  line-height: 1.5;
  font-weight: var(--fontWeight-sm);
}

.section {
  padding: 0 1rem;
}

.swiper-container {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100% !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.swiper-button-next,
.swiper-button-prev {
  width: calc(70px / 44 * 27) !important;
  height: 44px !important;
  color: #474862 !important;
  background-color: rgba(248, 248, 248, 0.72) !important;
  border-radius: 50%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px !important;
}

.swiper-pagination {
  color: rgba(248, 248, 248, 0.72) !important;
  text-shadow: 0 1px 0 black !important;
}

.hyperModalWrapper___2sZCR .hyperModalContentWrapper___1o7Ug {
  padding: 32px 16px;
  height: 90% !important;
  max-height: 95%;
  width: 450px !important;
  max-width: 800px !important;
}

@media only screen and (min-width: 768px) {
  .section {
    margin-bottom: 152px;
  }

  .hyperModalWrapper___2sZCR .hyperModalContentWrapper___1o7Ug {
    min-width: 700px !important;
  }
}

@media only screen and (min-width: 1400px) {
  .section {
    padding: 0 0;
  }
}
