.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  align-self: flex-start;
  padding: 0 1rem 2rem 1rem;
  font-family: var(--header-font);
  font-weight: var(--fontWeight-b);
  font-size: 22px;
  color: var(--blue-400);
}
