.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  align-self: flex-start;
  padding: 0 1rem 2rem 1rem;
  font-size: 22px;
  font-family: var(--header-font);
  font-weight: var(--fontWeight-b);
  color: var(--blue-400);
  margin-top: 16px;
}
@media only screen and (min-width: 1200px) {
  .title {
    max-width: 1200px;

    margin-right: auto;
    padding-left: 2rem;
  }
}
