.attractionsCard {
  margin-bottom: 38px;
  width: 100%;
}
.attractionsCard:last-of-type {
  margin-bottom: 0;
}
.description p {
  font-size: 16px;
  line-height: 1.6;
  font-family: var(--body-font);
  font-weight: var(--fontWeight-r);
  color: var(--blue-400);
  margin-bottom: 16px;
}

.H3 {
  font-family: var(--header-font);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: rgb(53 54 73 / 0.85);
  font-weight: var(--fontWeight-sm);
}

.imageContainer {
  margin-bottom: 38px;
  border-radius: 8px;
  width: 464px;
  height: 464px;
  position: relative;
}

.image {
  border-radius: 8px;
}

@media only screen and (min-width: 380px) {
  .attractionsCard {
    width: 300px;
  }
}

@media only screen and (min-width: 1200px) {
  .attractionsCard {
    width: 1080px;
    display: flex;
    flex-direction: row-reverse;
    gap: 130px;
    place-items: center;
    margin-bottom: 304px;
  }

  .imageContainer {
    margin-bottom: 0;
  }

  .attractionsCard:nth-child(even) {
    flex-direction: row;
  }
  .H3 {
    font-size: 28px;
    margin-bottom: 32px;
  }

  .description {
    max-width: 420px;
  }
  .description p {
    line-height: 1.7;
  }
}
