.attractionsCard {
  margin-bottom: 38px;
  width: 100%;
  margin-right: 24px;
}
.attractionsCard:last-child {
  margin-right: 0px;
}
.attractionsCard:last-of-type {
  margin-bottom: 0;
}
.description p {
  font-size: 16px;
  line-height: 1.6;
  font-family: var(--body-font);
  font-weight: var(--fontWeight-r);
  color: var(--blue-400);
  margin-bottom: 16px;
}

.H3 {
  font-family: var(--header-font);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: rgb(53 54 73 / 0.85);
  font-weight: var(--fontWeight-sm);
}

.imageContainer {
  margin-bottom: 38px;
  border-radius: 8px;
  width: 100%;
  height: 264px;
  position: relative;
}

.image {
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .attractionsCard {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    place-items: center;
    margin-bottom: 200px;
    margin-right: 0px;
  }
  .attractionsCard:nth-child(even) {
    flex-direction: row;
  }
  .imageContainer {
    margin-bottom: 0;
    min-width: 40%;
  }

  .description,
  .H3 {
    margin: 2rem;
  }
  .H3 {
    font-size: 24px;
  }
  .description {
    max-width: 420px;
  }
  .description p {
    line-height: 1.7;
  }
}
