.card {
  /* flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease; */

  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 467px;
  width: 100%;
  margin-bottom: 60px;
  border-radius: 8px;
  position: relative;
}

.card::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(53, 54, 73, 0.48);
  border-radius: 8px;
}

.content {
  padding: 16px;
  background: linear-gradient(
    180deg,
    rgba(53, 54, 73, 0) 37.5%,
    rgba(53, 54, 73, 0.44898) 60.42%,
    #353649 88.54%
  );
  height: 100%;
  z-index: 100001;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.content h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  color: white;
}

.content p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color: white;
}

.h4 {
  font-size: 12px;
  color: white;
}

.rating {
  color: white;
}
