.form {
  position: relative;
  background: var(--white-200);
  border-radius: 8px;
  padding: 24px 16px;
  margin-top: 40px;
  width: 100%;
  max-width: 1123px;
  display: grid;
  gap: 16px;
  box-shadow: 1px 5px 20px rgba(228, 232, 236, 0.23);
}

.icon {
  height: 14px;
  width: 14px;
}
.closeIcon {
  height: 20px;
  width: 20px;
  color: var(--blue-300);
}

.closeModel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  border: 1.5px solid transparent;
  border-radius: 8px;
  padding: 6px;
  margin-left: calc(100% - 30px);
  color: var(--blue-400);
}
.closeModel:hover {
  background-color: var(--white-400);
  box-shadow: 0px 1px 6px 1px hsl(0deg 0% 40% / 27%);
}

.closeModel:focus {
  border: 2px solid rgb(84 191 227 / 42%);
  background: rgb(84 191 227 / 7%);
  color: var(--info);
}
.label {
  color: var(--blue-400);
  font-size: 12px;
  font-weight: var(--fontWeight-sm);
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}

.input::placeholder {
  font-size: 13px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
  color: var(--blue-300);
}

.input {
  color: var(--blue-400);
  background-color: var(--white-100);
  font-size: 16px;
  font-size: max(16px, 1em);
  padding: 16px 24px;
  border: 1px solid var(--grey-200);
  border-radius: 6px;
  width: 100%;
}

.inputButton {
  font-size: 13px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
  background-color: var(--white-100);
  color: var(--blue-300);
  border: 1px solid var(--grey-200);
  border-radius: 6px;
  padding: 14px 16px;
  width: 100%;
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.column > div {
  width: 100%;
}

.searchBtn {
  width: 100%;
}
.dateRange {
  background: var(--grey-100);
  position: absolute;
  left: 0;
  width: 100%;
  top: 40%;
  z-index: 10;
  padding: 32px;
  display: grid;
  box-shadow: 2px 0px 20px rgb(140 162 181 / 48%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 500px;
}

.removeIcons {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
}

.removeIcons > button {
  place-self: center;
  margin-bottom: 16px;
}

.removeIcons .clearButton {
  padding: 8px 16px;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: var(--blue-400);
  border: 2px solid var(--blue-400);
  transition: background-color 0.3s ease;
}
.removeIcons .clearButton:hover {
  background-color: var(--blue-400);
  color: var(--white-100);
}

.removeIcons .clearButton:focus {
  border-color: rgb(84 191 227 / 42%);
  background: rgb(84 191 227 / 7%);
  color: var(--info);
}
.searchInput {
  position: relative;
}

.suggestions {
  position: absolute;
  background: var(--white-100);
  top: 80px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
  font-size: 14px;
}

.suggestionItem {
  padding: 16px 16px;
  margin-bottom: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.suggestionItem:hover {
  background: var(--white-300);
  color: var(--blue-400);
}

.icon {
  width: 12px;
  height: 12px;
  color: var(--blue-400);
  margin-right: 8px;
}

@media only screen and (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: 250px 261px auto;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    align-items: flex-end;
    margin-top: 32px;
    padding: 32px 16px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  }
  .column {
    margin-bottom: 0;
  }
  .inputButton {
    padding: 13px 16px;
  }

  .input {
    padding: 14px 16px;
  }
}
