.form {
  position: relative;
  background: var(--white-200);
  border-radius: 8px;
  padding: 16px;
  margin-top: 40px;
  width: 100%;
  box-shadow: 1px 5px 20px rgba(228, 232, 236, 0.23);
}

.inputContainer {
  margin-bottom: 16px;
}
.icon {
  height: 14px;
  width: 14px;
}

.label {
  color: var(--blue-400);
  font-size: 12px;
  font-weight: var(--fontWeight-sm);
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}

.input::placeholder {
  font-size: 14px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
  color: var(--blue-300);
}

.input {
  color: var(--blue-400);
  background-color: var(--white-100);
  font-size: 16px;
  font-size: max(16px, 1em);
  padding: 14px 16px;
  border: 1px solid var(--grey-200);
  border-radius: 8px;
  width: 100%;
}

.inputButton {
  font-size: 14px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
  background-color: var(--white-100);
  color: var(--blue-300);
  border: 1px solid var(--grey-200);
  border-radius: 8px;
  padding: 14px 16px;
  width: 100%;
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.column > div {
  width: 45%;
}

.searchBtn {
  width: 100%;
}
