.form {
  background: var(--white-200);
  border-radius: 8px;
  padding: 16px;
  font-family: var(--header-font);
}
.label {
  color: var(--blue-400);
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: var(--fontWeight-m);
}

.icon {
  height: 14px;
  width: 14px;
}
