.form {
  background: var(--white-200);
  border-radius: 8px;
  padding: 16px;
  font-family: var(--header-font);
}

/* .inputContainer {
  font-family: var(--header-font);
} */
.icon {
  height: 14px;
  width: 14px;
}

.label {
  color: var(--blue-400);
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: var(--fontWeight-m);
}

.input::placeholder {
  font-size: 12px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
}

.input {
  color: var(--blue-400);
  font-size: 16px;
  font-size: max(16px, 1em);
  padding: 14px 16px;
  border: 1px solid var(--grey-200);
  border-radius: 8px;
  background-color: var(--white-100);
  width: 100%;
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.column > div {
  width: 45%;
}
