.footer {
  padding: 0 2rem;
  width: 100%;
  background: var(--blue-400);
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer section {
  margin-top: 100px;
}

.footer p,
.footer a {
  color: var(--grey-400);
  line-height: 1.5;
  margin: 8px 0;
}

.footer h3 {
  color: var(--white-200);
  font-family: var(--header-font);
  font-size: 18px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: var(--header-font);
  color: var(--orange-400);
  font-weight: var(--fontWeight-sm);
  font-size: 18px;
  z-index: 20001;
  margin-left: auto;
}

.logoLetters {
  color: var(--orange-300);
}

.socialMedia {
  color: var(--grey-400);
}

.note {
  margin-bottom: 64px;
}
