.linkContainer {
  display: flex;
  margin-bottom: 16px;
}

.link {
  color: var(--blue-200);
  font-size: 12px;
  font-family: var(--body-font);
  font-weight: var(--fontWeight-r);
  line-height: 24px;
  color: var(--blue-300);
}
.linkActive {
  composes: link;
  color: var(--blue-400) !important;
  font-weight: var(--fontWeight-m);
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--blue-400);
}

.active {
  color: var(--blue-400);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: center;
}
