.searchHero {
  background-image: linear-gradient(rgb(0 0 0 / 52%), rgb(228 232 236 / 66%)),
    url('https://res.cloudinary.com/djey7uz4e/image/upload/v1619951991/floybanen_wlrnlh.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  margin-top: -21vh;
  position: relative;
  margin-bottom: 80px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.detail {
  background-image: linear-gradient(
    rgb(228 232 236 / 52%),
    rgb(228 232 236 / 66%)
  );
}

.searchHero::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 101%;
  background: linear-gradient(
    360deg,
    #e4e8ec 0%,
    #e4e8ec 8%,
    rgba(228, 232, 236, 0) 98.41%
  );
}

.searchContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
  width: 90%;
  top: -30px;
  max-width: 400px;
}

@media screen and (min-width: 992px) {
  .searchHero {
    height: 62vh;
    margin-top: 0;
    margin-bottom: 0;
  }

  .searchContainer {
    min-width: min-content;
    top: 0px;
  }
}
