.accordionSection {
  /* padding-top: 100px; */
}
.accordion {
  background: var(--grey-400);
  color: var(--white-100);
  padding: 16px 32px;
  display: grid;
  grid-auto-flow: column;
  font-family: var(--header-font);
  font-weight: var(--fontWeight-r);
  font-size: 14px;
  line-height: 24px;
}

.accordionContent {
}
.accordionHeader {
  font-family: var(--header-font);
  font-weight: var(--fontWeight-r);
  font-size: 12px;
  padding: 16px 32px;
  display: grid;
  grid-auto-flow: column;
  gap: 6px;
  color: var(--blue-400);
  cursor: pointer;
  border-bottom: 1px solid var(--grey-300);
}
.accordionText {
  padding: 32px;
  border-bottom: 1px solid var(--grey-300);
  transition: all 0.6s ease;
}
.paragraph {
  font-family: var(--body-font);
  font-weight: var(--fontWeight-m);
  font-size: 14px;
  line-height: 24px;
}

.paragraph > span {
  font-weight: var(--fontWeight-r);
  margin-left: 16px;
}
.open {
  background-color: rgba(175, 186, 198, 0.35);
}

@media screen and (min-width: 768px) {
  .accordionSection {
    padding-top: 0;
  }
}
