/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.form {
  margin-left: auto;
  margin-right: auto;
  background: #c9d1d96b;
  border-radius: 8px;
  padding: 16px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 32px 16px;
}
.bg {
  background: transparent;
}
.error,
.success {
  max-width: 50ch;
  text-align: left;
  padding: 32px;
  border-radius: 8px;
  font-weight: var(--fontWeight-m);
}
.error {
  background: #e71d3617;
  color: #a90419;
  border: 1.5px solid #e71d3647;
}

.success {
  background: #74c69d17;
  color: #24774d;
  border: 1.5px solid #74c69db0;
  max-width: 50ch;
  text-align: left;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-right: 16px;
  width: 100%;
}

.column:last-child {
  margin-right: 0px;
}

.column > div {
  margin-top: 16px;
  margin-right: 16px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.row > div {
  width: 100%;
  margin-right: 16px;
}
.row > div:last-child {
  margin-right: 0px;
}
.priceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: auto;
  font-family: var(--header-font);
}

.price {
  font-size: 16px;
  color: var(--blue-400);
  text-align: right;
  font-weight: var(--fontWeight-b);
  line-height: 33.6px;
}
.night {
  color: var(--blue-300);
  font-weight: var(--fontWeight-r);
  text-align: right;
  font-size: 12px;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.infoSection {
  color: var(--blue-400);
  font-family: var(--header-font);
  margin-top: 32px;
  margin-bottom: 16px;
  border-bottom: 2px solid #68687657;
  padding-bottom: 8px;
  text-align: left;
}

.buttonContainer {
  margin-top: 60px;
}

@media only screen and (min-width: 768px) {
  .form,
  .innerForm {
    max-width: 600px;
  }

  .column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
