.form {
  position: relative;
  background: var(--white-200);
  border-radius: 8px;
  padding: 16px;
  margin-top: 40px;
  width: 100%;
  max-width: 1123px;
  box-shadow: 1px 5px 20px rgba(228, 232, 236, 0.23);
}

.inputContainer {
  margin-bottom: 16px;
}

.label {
  color: var(--blue-400);
  font-size: 12px;
  font-weight: var(--fontWeight-sm);
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}

.icon {
  height: 14px;
  width: 14px;
}
.closeIcon {
  height: 20px;
  width: 20px;
  color: var(--blue-300);
}

.closeModel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  border: 1.5px solid transparent;
  border-radius: 8px;
  padding: 6px;
  margin-left: calc(100% - 30px);
  color: var(--blue-400);
}
.closeModel:hover {
  background-color: var(--white-400);
  box-shadow: 0px 1px 6px 1px hsl(0deg 0% 40% / 27%);
}

.closeModel:focus {
  border: 2px solid rgb(84 191 227 / 42%);
  background: rgb(84 191 227 / 7%);
  color: var(--info);
}

.input::placeholder {
  font-size: 13px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
  color: var(--blue-300);
}

.input {
  color: var(--blue-400);
  background-color: var(--white-100);
  font-size: 16px;
  font-size: max(16px, 1em);
  padding: 14px 16px;
  border: 1px solid var(--grey-200);
  border-radius: 8px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .input {
    min-width: 267px;
    height: 48px;
  }
  .form {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    padding: 32px 16px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  }
}
