.form {
  margin-left: auto;
  margin-right: auto;
  background: #c9d1d96b;
  border-radius: 8px;
  padding: 16px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
}
.bg {
  background: transparent;
}
.error,
.success {
  max-width: 50ch;
  text-align: left;
  padding: 32px;
  border-radius: 8px;
  font-weight: var(--fontWeight-m);
}
.error {
  background: #e71d3617;
  color: #a90419;
  border: 1.5px solid #e71d3647;
}

.success {
  background: #74c69d17;
  color: #24774d;
  border: 1.5px solid #74c69db0;
  max-width: 50ch;
  text-align: left;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 16px;
  width: 100%;
}
.row {
  display: flex;
  width: 100%;
  gap: 16px;
}

.row > div {
  width: 100%;
}
.priceWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  font-family: var(--header-font);
}

.price {
  font-size: 16px;
  color: var(--blue-400);

  text-align: right;
  font-weight: var(--fontWeight-b);
  line-height: 33.6px;
}
.night {
  color: var(--blue-300);
  font-weight: var(--fontWeight-r);
  text-align: right;
  font-size: 12px;
}

.total {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.infoSection {
  color: var(--blue-400);
  font-family: var(--header-font);
  margin-top: 32px;
  margin-bottom: 16px;
  border-bottom: 2px solid #68687657;
  padding-bottom: 8px;
  text-align: left;
}

.buttonContainer {
  margin-top: 60px;
}

@media only screen and (min-width: 768px) {
  .form,
  .innerForm {
    max-width: 600px;
  }

  .column {
    flex-direction: row;
    gap: 16px;
  }
}
