.container {
  background: var(--white-200);
  padding: 48px 40px;
  border-radius: 8px;
  margin-top: 32px;
}

.imageContainer {
  border-radius: 6px;
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 8px;
}
.h3 {
  color: var(--blue-400);
  font-family: var(--header-font);
  font-weight: var(--fontWeight-b);
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 16px;
  margin-top: 24px;
}

.note {
  color: var(--blue-400);
  font-family: var(--body-font);
  font-weight: var(--fontWeight-sm);
  margin-bottom: 8px;
}

.paragraph {
  color: #5b5b71;
  max-width: 60ch;
  line-height: 1.6;
  margin-bottom: 32px;
  font-weight: var(--fontWeight-r);
}

@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    min-width: 1000px;
    padding: 60px;
    gap: 24px;
  }

  .imageContainer {
    width: 40%;
    height: auto;
  }
  .content {
    width: 60%;
  }
  .h3 {
    margin-top: 0;
  }
}
