.container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.form {
  background: #fdfcfc;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.13);
  padding: 32px 16px;
  border-radius: 8px;
  margin-bottom: 100px;
}

.btnContainer {
  margin-top: 40px;
}
