.container {
  position: relative;
  padding-bottom: 30vh;
  padding: 0 1rem 2rem 1rem;
  background: #fdfcfc;
  border-radius: 8px;
}

.navigation {
  background: var(--blue-400);
  border-radius: 6px;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  height: 75vh;
}

.navContainer {
  min-height: 46vh;
}
.navBtn {
  font-size: 14px;
  color: var(--grey-200);
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  text-align: left;
}
.navItems,
.current,
.navBtn {
  font-family: var(--header-font);
  font-size: 14px;
  line-height: 1.5;
}

.navItem {
  padding: 16px 32px;
  background: transparent;
  position: relative;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  letter-spacing: 0.3px;
}

.active {
  background: rgba(229, 229, 229, 0.11);
  border-left: 8px solid #ee9285;
  padding-left: 24px;
}

.navItem:hover {
  background: rgba(229, 229, 229, 0.11);
  border-left: 8px solid #ee9285;
  padding-left: 24px;
}

.navButton {
  color: #353649db;
  background: var(--blue-400);
  font-family: var(--header-font);
  font-weight: var(--fontWeight-m);
  padding: 24px 16px 32px 16px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  align-items: center;
  display: flex;
  gap: 16px;
}
.dark {
  padding: 0rem 1rem;
}

.dark > * {
  background: var(--blue-400);
  color: var(--grey-200);
}

.light > * {
  background: #fdfcfc;
  color: var(--blue-400);
}
.dark.navigation {
  background: var(--blue-400);
}
.light.navigation {
  background: #fdfcfc;
}

.light > .navButton {
  color: #353649db;
}

.dark > .navButton {
  color: var(--grey-200);
}
.light > .active,
.dark > .active {
  color: #353649db;
}

.secondaryNav {
  padding-top: 32px;
}

.logoutButton {
  composes: navBtn;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .navButton {
    pointer-events: none;
  }
  .container {
    display: grid;
    grid-template-columns: 200px 2fr;
    position: static;
    padding: 0;
  }
  .navButton {
    border-top-right-radius: 0;
  }

  .navButton,
  .active {
    color: var(--grey-200) !important;
  }

  .navigation {
    position: static;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .navContainer {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    min-height: initial;
  }

  .navigation,
  .navigation > * {
    background: var(--blue-400) !important;
    color: var(--grey-200);
  }
}

@media screen and (min-width: 992px) {
  .container {
    min-width: 900px;
  }
}
