.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .searchHero {
    height: 60vh;
  }

  .searchContainer {
    min-width: min-content;
  }
}

@media screen and (min-width: 992px) {
  .searchContainer {
    top: 30%;
  }
}
