.container {
  background: transparent;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  padding: 0px 10%;
  position: fixed;
  top: 0;
  z-index: 20000;
  min-height: 85px;
}

.logo {
  width: 100px;
}
.items {
  position: absolute;
  top: 0;
  right: 0px;
  padding-top: 180px;
  transition: transform 0.3s ease;
  transform: translateX(-100vw);
  background: var(--grey-100);
  z-index: 100;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 16px;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.show {
  transform: translateX(0);
}

.item {
  padding: 16px;
  justify-self: center;
}
.itemButton {
  justify-self: center;
}

.itemLink {
  font-size: 18px;
  line-height: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  background-color: transparent;
  border-radius: 6px;
  font-weight: var(--fontWeight-m);
}
.itemLink:hover {
  background-color: var(--grey-200);
}

.login {
  background: var(--orange-400);
  color: var(--white-100);
}
.login:hover {
  background: var(--orange-hover);
}

.hamburgerWrapper {
  border: none;
  background: var(--grey-100);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 4px;
  height: 27px;
  width: 2rem;
}

.hamburger {
  height: 100%;
  background: var(--orange-400);
}
