.h2 {
  font-family: var(--header-font);
  color: var(--blue-400);
  font-size: 22px;
  line-height: 33px;
  margin-top: 100px;
  margin-bottom: 48px;
  padding-left: 1rem;
}

@media only screen and (min-width: 768px) {
  .h2 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 80px;
  }
}
