.heroImage {
  width: 100%;
  height: 125vh;
  margin-top: -25vh;
  background-repeat: no-repeat;
  background-color: var(--blue-400);
  background-position: center center;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 125vh;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  pointer-events: none;
}

.content {
  padding: 0 1em;
  position: absolute;
  top: 0;
  padding-top: 25vh;
}

.explore {
  color: var(--grey-400);
  font-family: var(--header-font);
  line-height: 18px;
  font-size: 24px;
}

.header {
  color: var(--grey-200);
  font-family: var(--header-font);
  font-weight: var(--fontWeight-r);
  font-size: 70px;
  line-height: 18px;
  padding-top: 45px;
  margin-left: -6px;
  padding-bottom: 60px;
}

.paragraph {
  font-family: var(--body-font);
  color: var(--grey-200);
  line-height: 1.5;
  font-weight: var(--fontWeight-r);
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .heroImage {
    height: 80vh;
    margin-top: 0;
    max-width: 71%;
    margin-left: auto;
  }

  .overlay {
    backdrop-filter: none;
    background: rgb(0 0 0 / 47%);
    height: 80vh;
  }

  .heroSection {
    position: relative;
    padding: 0 1rem;
    margin-bottom: 200px;
  }
  .content {
    padding-top: 30px;
  }
  .explore {
    font-family: var(--header-font);
    font-weight: var(--fontWeight-r);
    font-size: 24px;
    color: var(--blue-200);
  }

  .header {
    font-size: 200px;
    font-family: var(--header-font);
    font-weight: var(--fontWeight-r);
    background-color: rgb(53, 54, 73);
    background: linear-gradient(
      81deg,
      rgba(53, 54, 73, 1),
      rgb(205 205 209 / 27%) 58%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    margin: -16px 0 30px -16px;
    height: 246px;
    display: flex;
    align-items: center;
  }
  .paragraph {
    line-height: 1.5;
    font-size: 16px;
    width: 50ch;
    background-color: #35364959;
    background-color: rgb(53, 54, 73);
    background: linear-gradient(
      81deg,
      rgba(53, 54, 73, 1) 0%,
      rgba(205, 205, 209, 1) 58%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}
