.hotelCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  padding: 16px 16px 32px 16px;
  background-color: rgb(248 248 248 / 30%);
  border: 2px solid var(--white-100);
  color: var(--blue-300);
  border-radius: 8px;
  max-width: 310px;
  margin-bottom: 40px;
}

@media (prefers-reduced-motion: reduce) {
  .hotelCard {
    transition: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .hotelCard {
    transition: background-color 0.25s ease;
  }
}

.hotelCard:hover {
  background-color: var(--white-100);
  filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.2));
}

.hotelCard:active {
  outline: none;
  box-shadow: 0px 0px 0px 0px, 0 0 0 2px #3a3c61a1;
}
.imageContainer {
  margin-bottom: 16px;
  width: 100%;
  min-width: 150px;
  height: 180px;
  position: relative;
  border-radius: 6px;
}

.image {
  border-radius: 6px;
}
.iconUpdate,
.iconDelete {
  height: 40px;
  width: 40px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid transparent;
}
.iconUpdate {
  color: var(--success);
  background-color: rgba(116, 198, 157, 0.18);
}
.iconUpdate:hover {
  border-color: rgba(116, 198, 157, 0.18);
}
.iconDelete {
  color: var(--danger);
  background-color: rgba(231, 29, 54, 0.18);
}
.iconDelete:hover {
  border-color: rgba(231, 29, 54, 0.18);
}

.icons {
  display: grid;
  grid-auto-flow: column;
  margin-left: 24px;
}

.btnIcon {
  border: none;
  background: transparent;
  margin-right: 16px;
  transform: scale(0.9);
}
@media (prefers-reduced-motion: reduce) {
  .btnIcon {
    transition: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .btnIcon {
    transition: all 0.3s ease;
  }
}

.btnIcon:last-child {
  margin-right: 0px;
}
.btnIcon:hover {
  transform: scale(1);
}

.iconUpdate,
.iconDelete {
  cursor: pointer;
}

.buttonContainer {
  width: fit-content;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h3 {
  margin-top: 16px;
  margin-bottom: 8px;
}
.h4 {
  font-weight: var(--fontWeight-m);
  font-family: var(--body-font);
  font-size: 14px;
}
.rating {
  margin-top: 8px;
  margin-right: 4px;
  height: 16px;
  width: 16px;
  color: var(--orange-400);
}
.rating:last-child {
  margin-right: 0;
}
.description {
  margin-top: 16px;
}

.description p {
  font-weight: var(--fontWeight-r);
  font-size: 14px;
  word-break: break-all;
}

.description {
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .hotelCard {
    max-width: 550px;
    padding-bottom: 16px;
    flex-direction: row;
    margin-right: 16px;
  }

  .imageContainer {
    height: 220px;
    margin-bottom: 0;
    margin-right: 24px;
  }
  .h3 {
    margin-top: 0;
  }
  .h4 {
    font-size: 12px;
  }
  .content {
    align-items: flex-start;
    justify-content: space-between;
    min-width: 28ch;
  }
}
