.container {
  background-color: var(--white-200);
  padding-bottom: 112px;
  padding-top: 44px;
  margin-bottom: 200px;
  border-radius: 8px;
  max-width: 1104px;
  margin: 0 auto;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
}
.flex {
  max-width: 450px;
  padding-left: 24px;
}

.h3 {
  font-size: 18px;
  font-weight: var(--fontWeight-sm);
  font-family: var(--header-font);
  margin-top: 24px;
  margin-bottom: 8px;
}
.h4 {
  font-weight: var(--fontWeight-m);
  font-family: var(--body-font);
  font-size: 14px;
  margin-bottom: 8px;
}
.imageGallery {
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 24px;
  padding: 0 1rem;
}
.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: repeat(auto-fit, 260px);
  grid-auto-flow: dense;
  grid-gap: 0.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
}
.imageGridItem {
  border-radius: 6px;
}
.imageContainer {
  border-radius: 8px;
  width: 100%;
  max-height: 490px;
  position: relative;
}
.singleImg,
.singleImg > img {
  height: 100%;
}

.image {
  border-radius: 6px;
}

.rating {
  margin-top: 8px;
  margin-bottom: 16px;
  margin-right: 4px;
  height: 20px;
  width: 20px;
  color: var(--orange-400);
}
.rating:last-child {
  margin-right: 0;
}

.description p {
  font-weight: var(--fontWeight-r);

  margin-bottom: 32px;
  font-size: 14px;
}

.rooms {
  background: var(--grey-100);
  padding: 32px 16px;
  border-radius: 8px;
}

.roomsHeader {
  font-family: var(--header-font);
  font-weight: var(--fontWeight-sm);
  font-size: 18px;
  line-height: 25px;
}
.night {
  font-family: var(--header-font);
  font-weight: var(--fontWeight-m);
  font-size: 12px;
  line-height: 24px;
  margin-left: auto;
  width: fit-content;
  color: #353649c4;
}
.roomTypes {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.room {
  font-family: var(--body-font);
  font-weight: var(--fontWeight-m);
  font-size: 12px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.type {
  color: #353649;
}

.sleeps {
  font-family: var(--header-font);
  font-weight: var(--fontWeight-r);
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  margin-left: auto;
  margin-right: 16px;
  color: #353649;
}

.price {
  font-family: var(--header-font);
  font-weight: var(--fontWeight-sm);
  font-size: 14px;
  line-height: 25px;
  text-align: right;
}

.includesContainer {
  font-family: var(--header-font);
  font-weight: var(--fontWeight-r);
  font-size: 14px;
  color: var(--blue-400);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 80px;
  margin-bottom: 48px;
}
.includes {
  display: flex;
  gap: 16px;
}
.includesIcon {
  height: 20px;
  width: 20px;
}
@media screen and (min-width: 768px) {
  .content {
    max-width: initial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 24px;
    gap: 24px;
    margin-top: 100px;
  }
  .rooms {
    place-self: center stretch;
    padding: 32px 32px;
  }
  .includesContainer {
    margin-top: 32px;
  }
  .room {
    font-size: 16px;
  }
  .roomsHeader {
    font-size: 18px;
  }
  .h3 {
    font-size: 22px;
  }
  .sleeps,
  .night {
    font-size: 14px;
  }
  .price {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .content {
    padding: 0 100px;
  }
  .imageGallery {
    padding: 0 100px;
  }
  .h3 {
    margin-top: 0;
  }
  .h4 {
    font-size: 12px;
  }
  .content {
    align-items: flex-start;
  }
  .description p {
    margin-bottom: 16px;
  }
  .flex {
    display: flex;
    gap: 32px;
    max-width: 1104px;
    padding-left: 100px;
  }
}
