.inputContainer {
  margin-bottom: 16px;
  width: 100%;
}

.label {
  color: var(--blue-400);
  font-size: 12px;
  font-weight: var(--fontWeight-sm);
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
  padding-left: 4px;
}

.icon {
  height: 14px;
  width: 14px;
}

.input,
.textarea {
  color: var(--blue-400);
  background-color: var(--white-100);
  font-size: 16px;
  font-size: max(16px, 1em);
  padding: 10px 16px;
  border: 1px solid var(--grey-200);
  border-radius: 6px;
  width: 100%;
}

.input::placeholder,
.textarea::placeholder {
  font-size: 13px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
  color: var(--blue-300);
}

.inputButton {
  font-size: 13px;
  font-weight: var(--fontWeight-r);
  font-family: var(--header-font);
  background-color: var(--white-100);
  color: var(--blue-300);
  border: 1px solid var(--grey-200);
  border-radius: 6px;
  padding: 10px 16px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .input {
    min-width: 267px;
    height: 40px;
  }
  .input.contactInput {
    min-width: auto !important;
  }

  .inputButton {
    height: 40px;
  }
}
