/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.container {
  background: var(--white-100);
  position: absolute;
  left: 0;
  width: 100%;
  top: 80%;
  z-index: 10;
  padding: 16px 32px;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 2px 0px 20px rgb(140 162 181 / 48%);
  box-shadow: 2px 0px 20px rgb(140 162 181 / 48%);
  border-radius: 8px;
  max-width: 500px;
}

.buttonsContainer {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
}

.buttonsContainer > span {
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
}
.buttonsContainer > button {
  border: none;
  background: var(--white-200);
  height: 24px;
  width: 24px;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  border-radius: 50%;
  border: 1px solid var(--blue-300);
  color: var(--blue-400);
  font-size: 18px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 32px;
}

.guests {
  width: 50%;
  color: var(--blue-400);
  font-size: 16px;
  line-height: 20px;
  font-weight: var(--fontWeight-m);
}

.info {
  color: var(--blue-300);
  font-size: 14px;
  line-height: 18px;
  font-weight: var(--fontWeight-r);
}

.guestsInput {
  margin-left: auto;
}

.icon {
  height: 20px;
  width: 20px;
  color: var(--blue-300);
}

.closeModel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1.5px solid transparent;
  border-radius: 8px;
  padding: 6px;
  color: var(--blue-400);
  margin-bottom: 32px;
  margin-right: 16px;
  margin-left: 40px;
}
.closeModel:hover {
  background-color: var(--white-400);
  -webkit-box-shadow: 0px 1px 6px 1px hsl(0deg 0% 40% / 27%);
  box-shadow: 0px 1px 6px 1px hsl(0deg 0% 40% / 27%);
}

.closeModel:focus {
  border: 2px solid rgb(84 191 227 / 42%);
  background: rgb(84 191 227 / 7%);
  color: var(--info);
}

.removeIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-left: auto;
  background: transparent;
}

.removeIcons .clearButton {
  margin-bottom: 32px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: var(--blue-400);
  border: 2px solid var(--blue-400);
}

@media (prefers-reduced-motion: reduce) {
  .removeIcons .clearButton {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .removeIcons .clearButton {
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
}

.removeIcons .clearButton:hover {
  background-color: var(--blue-400);
  color: var(--white-100);
}

.removeIcons .clearButton:focus {
  border-color: rgb(84 191 227 / 42%);
  background: rgb(84 191 227 / 7%);
  color: var(--info);
}
