.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.main {
  max-width: 1324px;
  margin: 0 auto;
}
.mainInner {
  /* padding: 0 2rem; */
}
