.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainInner {
  padding: 5rem 0;
  padding: 100px 0.5rem 0 0rem;
}
