/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.form {
  display: -ms-grid;
  display: grid;
  gap: 8px;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
}
.btnContainer {
  margin-top: 16px;
}
